/* Space out content a bit */

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100% !important;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: 70%;
}

.btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.detail-img-container {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}
.detail-img-container img {
    vertical-align: middle;
    width: 73px;
    height: 73px;
    margin: 0 auto;
}

#wrapper {
    padding-left: 0;
    padding-left: 20%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 20%;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    border-left: 1px solid #aaa;
    right: 0;
    width: 0;
    height: 100%;
    margin-left: -20%;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 20%;
}

#page-content-wrapper {
    width: 100%;
    /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    #wrapper.toggled {
        padding-left: 0;
        /*padding-right: 20%;*/
    }

    #sidebar-wrapper {
        /*width: 20%;
        padding: 5px;*/
        background-color: #eee;
    }

    #wrapper.toggled #sidebar-wrapper {
        padding: 5px;
        width: 20%;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}