body {
    margin: 0 auto;
    /*padding-top: 5px;*/
    width:100%;
    /*overflow: hidden;*/
}
img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: 100%;
}

area{
    z-index: 9999;
}

audio{
    visibility: collapse;
}

.btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.detail-img-container {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}
.detail-img-container img {
    vertical-align: middle;
    width: 73px;
    height: 73px;
    margin: 0 auto;
}
.btn-image {
    width: 70px;
    margin: 0 auto;
}
#page-content-wrapper {
    width: 100%;
}
.container-fluid {
    /*min-height: 100%;*/
    overflow: hidden;
    width: 100% !important;
}

.big-img-wrapper{
    border-right: 1px solid black;
}
/* make tow columns the same height even if content is empty */
/*.col-full-height {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}*/
.details {
    /*border-left: 1px solid black;*/
    padding-top: 5px;
}

#config-bar-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
    height: 125px;
    width: 100%;
    z-index: 200;
}
.config-bar {
    width: 250px;
    height: 100%;
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}