/**
 * Fix for iPad iOS7 slight scroll on 100% body height
 * http://stackoverflow.com/questions/19012135/ios-7-ipad-safari-landscape-innerheight-outerheight-layout-issue
 */
@media (orientation:landscape) {
    html.ipad.ios7 > body {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 672px !important;
    }
}

body {
    margin: 0 auto;
    padding-top: 5px;
    width:100%;
}

.big-img-wrapper{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    height: 95%;
}

img[usemap] {
    border: none;
    height: 95%;
    max-width: 95%;
    width: 95%;
    margin:0 auto;
}

area{
    z-index: 9999;
    cursor: pointer;
    display: block;
}

audio{
    visibility: collapse;
}

/* details audio play buttons */
.btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.details-wrapper{
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;    
    padding:10px;
}

.detail-img-container {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

.detail-img-container img {
    vertical-align: middle;
    width: 73px;
    height: 73px;
}

.btn-image {
    width: 70px;
    margin: 0 auto;
}

#page-content-wrapper {
    width: 100%;
}

/* wrapper with full width */
#config-bar-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
    height: 125px;
    width: 100%;
    z-index: 200;
    padding: 0;
    margin:0;
}

.config-bar {
    width: 250px;
    height: 125px;
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.rectangle-item{
    background-color: #ff0000;
    position:absolute;
    z-index: 99999999999;
}