<div ng-if="method && lang">
    <!-- config bottom bar -->
    <div id="config-bar-wrapper">
        <div class="config-bar">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <span class="btn glyphicon glyphicon-off" hm-tap="toggleConfigPanel()"> </span>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="play-mode-buttons btn-group">
                        <button ng-class="gender === 'male' ? 'btn btn-default active':'btn btn-default'" ng-model="gender" hm-tap="genderChanged('male')">
                        <i class="fa fa-male"></i>
                        </button>
                        <button ng-class="gender === 'female' ? 'btn btn-default active':'btn btn-default'" ng-model="gender" hm-tap="genderChanged('female')">
                        <i class="fa fa-female"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /config bottom bar -->
    <!-- Page Content -->
    <div class="row">
        <!-- big image -->
        <div class="col-xs-9 text-center big-img-wrapper">
            <img id="big-image" ng-src="{{data.image}}" class="img-responsive" hm-press="toggleConfigPanel()" usemap="#map" >
            <map id="big-image-map" name="map">
            <area shape="rect" ng-repeat="item in data.items" id="{{item.id}}" href="javascript:void(0);" hm-tap="playVowel($event)" hm-press="showDetails($event)" coords="{{item.coords}}"/>
            </map>
            <!-- audio player for vowels -->
            <audio id="player0" src="" type="audio/mpeg"></audio>
        </div>
        <!-- right panel -->
        <div class="col-xs-3">
            <!-- No details -->
            <div ng-if="!details">
                <h3>Tap or click on a rectangle to see corresponding details</h3>
                <h3>Press (= click for a long time) on a rectangle to see corresponding details</h3>
            </div>
            <div ng-if="details">
                <!-- images row -->
                <div ng-if="details.images[0].visible || details.images[1].visible">
                    <div class="row">
                        <div ng-if="details.images[0].visible">
                            <div ng-class="details.images[1].visible ? 'col-xs-6':'col-xs-12'"  class="text-center">
                                <div class="detail-img-container">
                                    <img id="img-1" ng-src="{{details.images[0].url}}">
                                </div>
                            </div>
                        </div>
                        <div ng-if="details.images[1].visible">
                            <div ng-class="details.images[0].visible ? 'col-xs-6':'col-xs-12'" class="text-center">
                                <div class="detail-img-container">
                                    <img id="img-2" ng-src="{{details.images[1].url}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
                <!-- sounds row -->
                <!-- if no controls are set, audio player will not show -->
                <div ng-if="details.sounds[0].visible || details.sounds[1].visible">
                    <div class="row">
                        <div class="col-xs-6">
                            <audio id="player1" ng-if="gender == 'male'" ng-src="{{details.sounds[0].url}}" type="audio/mpeg"></audio>
                            <audio id="player1" ng-if="gender == 'female'" ng-src="{{details.sounds[1].url}}" type="audio/mpeg"></audio>
                            <button class="glyphicon glyphicon-play" hm-tap="play1()"></button>
                        </div>
                         <div class="col-xs-6">
                            <span>Wovel sound</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <audio id="player2" ng-if="gender == 'male'" ng-src="{{details.sounds[2].url}}" type="audio/mpeg"></audio>
                            <audio id="player2" ng-if="gender == 'female'" ng-src="{{details.sounds[3].url}}" type="audio/mpeg"></audio>
                            <button class="glyphicon glyphicon-play" hm-tap="play2()"></button>
                        </div>
                         <div class="col-xs-6">
                            <span>Sound in context</span>
                        </div>
                            
                        </div>
                    </div>
                <!--
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr ng-if="(details.sounds[0].visible && gender == 'male') || (details.sounds[1].visible && gender == 'female')">
                                        <td>
                                            <audio id="player1" ng-if="gender == 'male'" ng-src="{{details.sounds[0].url}}" type="audio/mpeg"></audio>
                                            <audio id="player1" ng-if="gender == 'female'" ng-src="{{details.sounds[1].url}}" type="audio/mpeg"></audio>
                                            <button class="glyphicon glyphicon-play" hm-tap="play1()"></button>
                                        </td>
                                        <td>Wovel sound</td>
                                    </tr>
                                    <tr ng-if="(details.sounds[2].visible && gender == 'male') || (details.sounds[3].visible && gender == 'female')">
                                        <td>
                                            <audio id="player2" ng-if="gender == 'male'" ng-src="{{details.sounds[2].url}}" type="audio/mpeg"></audio>
                                            <audio id="player2" ng-if="gender == 'female'" ng-src="{{details.sounds[3].url}}" type="audio/mpeg"></audio>
                                            <button class="glyphicon glyphicon-play" hm-tap="play2()"></button>
                                        </td>
                                        <td>Sound in context</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <hr/>
                <!-- texts row -->
                <div ng-if="details.texts[0].visible || details.texts[1].visible">
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-if="details.texts[0].visible">
                                <h5>Short description</h5>
                                <p>
                                {{details.texts[0].text}}
                                </p>
                            </div>
                            <div ng-if="details.texts[1].visible">
                                <h5>Long description</h5>
                                <p>
                                {{details.texts[1].text}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!method || !lang">
    <h3>wrong url params</h3>
</div>