<!doctype html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>KINEPHONE - PROTOTYPE</title>
        <link href="data:image/gif;" rel="icon" type="image/x-icon" />
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/angular-toggle-switch-bootstrap-3.css" rel="stylesheet">
        <!-- MY -->
        <link rel="stylesheet" href="css/style.css">
        <!-- JS -->
        <script type="text/javascript" src="js/libs/jquery.min.js"></script>
        <script type="text/javascript" src="js/libs/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/libs/hammer.min.js"></script>
        <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/libs/jquery.imagemap.js"></script>
        <!-- ANGULAR LIBs -->
        <script type="text/javascript" src="js/libs/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/libs/angular-ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="js/libs/gesture.js"></script>
        <script type="text/javascript" src="js/libs/angular-toggle-switch.min.js"></script>
        <!-- common services -->
        <script src="js/app/common/services/CommonServices.js"></script>
        <!-- angular app & modules -->
        <script src="js/app/main/factory/MainFactory.js"></script>
        <script src="js/app/common/factories/UtilsFactory.js"></script>
        <!-- main -->
        <script src="js/app/main/controllers/MainCtrl.js"></script>
         <script src="js/app/main/controllers/HelpModalCtrl.js"></script>
        <script src="js/app/main/mainApp.js"></script>
        <!-- table -->
        <script src="js/app/modules/table/tableApp.js"></script>
        <script src="js/app/modules/table/controllers/TableCtrl.js"></script>
        <!-- params -->
        <script src="js/app/modules/params/paramsApp.js"></script>
        <script src="js/app/modules/params/controllers/ParamsCtrl.js"></script>
        <!-- error -->
        <script src="js/app/modules/error/errorApp.js"></script>
        <script src="js/app/modules/error/controllers/ErrorCtrl.js"></script>
    </head>
    <body>
        <div ng-app="mainApp" ng-controller="MainCtrl">
            <div class="container-fluid">
                <!-- TOP FIXED HEADER / NAV -->
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#/{{langId}}/{{tableId}}/table" title="Home">Kinephone</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <!-- Language and table form -->
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <label class="sr-only" for="{{translation.LANGUAGE}}">{{translation.LANGUAGE}}</label>
                                    <select class="form-control" ng-model="currentLanguage" ng-options="language as language.language_name for language in languages track by language.language_id" ng-change="onLanguageChange(currentLanguage)">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="{{translation.TABLE}}">{{translation.TABLE}}</label>
                                    <select class="form-control" ng-model="currentTable" ng-options="table as table.table_name for table in tables track by table.table_id" ng-change="onTableChange(currentTable)">
                                    </select>
                                </div>
                                <button type="button" ng-click="reloadData()" tooltip="{{translation.RELOAD}}" tooltip-placement="bottom" class="btn btn-default fa fa-refresh"></button>
                            </form>
                            <div class="navbar-form navbar-left play-mode-buttons btn-group">
                                <button ng-class="gender === 'male' ? 'btn btn-default active':'btn btn-default'" tooltip="{{translation.CHOOSE_GENDER}}" tooltip-placement="bottom" ng-model="gender" hm-tap="genderChanged('male')">
                                <i class="fa fa-male"></i>
                                </button>
                                <button ng-class="gender === 'female' ? 'btn btn-default active':'btn btn-default'" tooltip="{{translation.CHOOSE_GENDER}}" tooltip-placement="bottom"  ng-model="gender" hm-tap="genderChanged('female')">
                                <i class="fa fa-female"></i>
                                </button>
                            </div>
                            <ul class="nav navbar-nav" ng-show="isAuthenticated">
                                <li><a href="#/{{langId}}/{{tableId}}/params" class="fa fa-gear" tooltip="{{translation.PARAMETERS}}" tooltip-placement="bottom"></a></li>
                            </ul>
                            <form class="navbar-form navbar-left" name="authentication" ng-show="!isAuthenticated">
                                <div class="form-group">
                                    <label class="sr-only" for="{{translation.LOGIN}}">{{translation.LOGIN}}</label>
                                    <input type="text" class="form-control" placeholder="{{translation.LOGIN}}" ng-model="login">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="{{translation.PASSWORD}}">{{translation.PASSWORD}}</label>
                                    <input type="password" class="form-control" placeholder="{{translation.PASSWORD}}" ng-model="pass">
                                </div>
                                <button type="button" ng-click="signIn()" tooltip="{{translation.SIGNIN}}" tooltip-placement="bottom" class="btn btn-default fa fa-sign-in"></button>
                            </form>
                            <div class="navbar-form navbar-left" ng-show="isAuthenticated">
                                <span>{{translation.WELCOME}} {{login}} </span>
                                <button type="button" class="btn btn-default" ng-click="signOut()" tooltip="{{translation.SIGNOUT}}" tooltip-placement="bottom">
                                <i class="fa fa-sign-out"></i> 
                                </button>
                            </div>
                            <div class="navbar-form navbar-right btn-group">
                                <button class="btn btn-default fa fa-question-circle" tooltip="{{translation.HELP}}" tooltip-placement="left"  hm-tap="openHelp()"></button>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- VIEWS -->
                <div ng-view>
                </div>
            </div>
        </div>
    </body>
    <script>
                // https://gist.github.com/benhuson/8664741
                if (navigator.userAgent.match(/iPad;.*CPU.*OS 7_\d/i)) {
                    $('html').addClass('ipad ios7');
                }
    </script>
</html>