<div ng-if="tableId && langId">
    <!-- User messages -->
    <div class="row">
        <div ng-show="success" class="col-md-12">
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                <strong>{{translation.PARAM_UPDATE_SUCCESS}}</strong>
            </div>
        </div>
        <div ng-show="error" class="col-md-12">
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                <strong>{{translation.PARAM_UPDATE_ERROR}}</strong>
            </div>
        </div>
    </div>
    <!-- Params table -->
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td>{{translation.SHOW_DRAWING}}</td>
                        <td><toggle-switch model="params.showImage" on-label="{{translation.YES}}" off-label="{{translation.NO}}"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>{{translation.SHOW_COLOR}}</td>
                        <td><toggle-switch model="params.showColor" on-label="{{translation.YES}}" off-label="{{translation.NO}}"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>{{translation.SHOW_PHONEM_TEXT}}</td>
                        <td><toggle-switch model="params.showPhonem" on-label="{{translation.YES}}" off-label="{{translation.NO}}" off-value="false"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>{{translation.SHOW_WORD_TEXT}}</td>
                        <td><toggle-switch model="params.showWord" on-label="{{translation.YES}}" off-label="{{translation.NO}}" off-value="false"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>{{translation.SHOW_SENTENCE_TEXT}}</td>
                        <td><toggle-switch model="params.showSentence" on-label="{{translation.YES}}" off-label="{{translation.NO}}" off-value="false"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>{{translation.SHOW_PHONEM_SOUND}}</td>
                        <td><toggle-switch model="params.showPhonemSound" on-label="{{translation.YES}}" off-label="{{translation.NO}}"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>{{translation.SHOW_WORD_SOUND}}</td>
                        <td><toggle-switch model="params.showWordSound" on-label="{{translation.YES}}" off-label="{{translation.NO}}"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>{{translation.SHOW_SENTENCE_SOUND}}</td>
                        <td><toggle-switch model="params.showSentenceSound" on-label="{{translation.YES}}" off-label="{{translation.NO}}"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-default" ng-click="update(params)">{{translation.SAVE_PARAMETERS}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>
<div ng-if="!tableId || !langId">
    <h3>{{translation.WRONG_URL_PARAMS}}</h3>
</div>