
    <!-- Page Content -->
    <div class="row">
        <!-- big image -->
        <div class="col-xs-9 text-center">
            <div class="big-img-wrapper">
                <img id="big-image" data-ng-src="{{tableData.image}}" class="img-responsive" usemap="#map" >
                <map id="big-image-map" name="map">
                <area shape="rect" data-ng-repeat="item in tableData.items" id="{{item.id}}" coords="{{item.coords}}" data-hm-tap="handleAreaTapEvent($event)" data-hm-hold="handleAreaHoldEvent($event)"/>
                </map>
            </div>
        </div>
        <!-- right panel -->
        <div class="col-xs-3">
            <div class="details-wrapper">
                <!-- Toggle details button -->
                <div class="row">
                    <div class="col-xs-12">                       
                        <button class="btn btn-default fa pull-right" data-ng-class="{'fa-chevron-circle-up' : showDetails, 'fa-chevron-circle-down':!showDetails}" data-ng-click="toggleDetailPanel()" data-ng-model="showDetails" data-tooltip="Afficher / Cacher les détails" data-tooltip-placement="left"></button>
                    </div>
                </div>
                <!-- No details -->
                <div data-ng-show="!details && showDetails">
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12">
                            Veuillez cliquer sur un rectangle pour voir les détails
                        </div>
                    </div>
                </div>
                <div data-ng-show="details && showDetails">
                    <hr/>
                    <!-- images row -->
                    <div data-ng-if="params.showColor || params.showImage">
                        <div class="row">
                            <!-- COLOR -->
                            <div data-ng-show="params.showColor" data-ng-class="{'col-xs-6':params.showImage, 'col-xs-12':!params.showImage}" class="text-center">
                                <div class="detail-img-container">
                                    <img id="img-1" data-ng-src="{{details.images[0].url}}">
                                </div>
                            </div>
                            <!-- DRAWING -->
                            <div data-ng-show="params.showImage && tableData.code_iso != 'fr_fr'" data-ng-class="{'col-xs-6':params.showColor, 'col-xs-12':!params.showColor}" class="text-center">
                                <div class="detail-img-container">
                                    <img id="img-2" data-ng-src="{{details.images[1].url}}">
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <!-- sounds row -->
                    <!-- if no controls are set, audio player will not show -->
                    <div data-ng-if="params.showPhonemSound || params.showWordSound || params.showSentenceSound">                        
                        <div data-ng-show="params.showWordSound" class="row">
                            <div class="col-xs-6">
                                <button class="glyphicon glyphicon-play" data-hm-tap="play('word')"></button>
                            </div>
                            <div  class="col-xs-6">
                                <span>Ecouter le phonème dans un mot</span>
                            </div>
                        </div>
                        <hr/>
                        <div data-ng-show="params.showPhonemSound" class="row">
                            <div class="col-xs-6">
                                <button class="glyphicon glyphicon-play" data-hm-tap="play('phonem')"></button>
                            </div>
                            <div class="col-xs-6">
                                <span>Ecouter le phonème</span>
                            </div>
                        </div>
                        <hr/>
                        <div data-ng-show="params.showSentenceSound" class="row">
                            <div class="col-xs-6">
                                <button class="glyphicon glyphicon-play" data-hm-tap="play('sentence')"></button>
                            </div>
                            <div class="col-xs-6">
                                <span>Ecouter le phonème dans une phrase</span>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <!-- texts row -->
                    <div data-ng-if="params.showPhonem || params.showWord || params.showSentence">
                        <div class="row">
                            <div class="col-xs-12">
                                <div data-ng-show="params.showWord">
                                    <h5>Mot : <span data-ng-bind-html="details.texts[0].text"></span></h5>
                                </div>
                                <div data-ng-show="params.showPhonem">
                                    <h5>Phonème : /<span data-ng-bind-html="details.texts[1].text"></span>/</h5>
                                </div>
                                <div data-ng-show="params.showSentence">
                                    <h5>Phrase : <span data-ng-bind-html="details.texts[2].text"></span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>