<div data-ng-if="tableId && langId">
    <!-- Page Content -->
    <div class="row">
        <!-- big image -->
        <div class="col-xs-9 text-center">
            <div class="big-img-wrapper">
                <img id="big-image" data-ng-src="{{data.image}}" class="img-responsive" data-hm-hold="toggleConfigPanel()" usemap="#map" >
                <map id="big-image-map" name="map">
                <area shape="rect" data-ng-repeat="item in data.items" id="{{item.id}}" coords="{{item.coords}}" data-hm-tap="handleAreaTapEvent($event)" data-hm-hold="handleAreaHoldEvent($event)"/>
                </map>
            </div>
        </div>
        <!-- right panel -->
        <div class="col-xs-3">
            <div class="details-wrapper">
                <!-- Toggle details button -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- LOADING GIF -->
                        <ul class="nav navbar-nav" data-ng-show="!isLoading">
                            <li> <wave-spinner></wave-spinner></li>
                        </ul>
                        <button data-ng-class="showDetails ? 'btn btn-default fa fa-chevron-circle-up pull-right':'btn btn-default fa fa-chevron-circle-down pull-right'" data-ng-click="showHidePanel()" data-ng-model="showDetails" data-tooltip="{{translation.HIDE_SHOW_DETAILS}}" data-tooltip-placement="left"></button>
                    </div>
                </div>
                <!-- No details -->
                <div data-ng-show="!details && showDetails">
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12">
                            {{translation.NO_DETAILS}}
                        </div>
                    </div>
                </div>
                <div data-ng-show="details && showDetails">
                    <hr/>
                    <!-- images row -->
                    <div data-ng-if="params.showColor || params.showImage">
                        <div class="row">
                            <!-- COLOR -->
                            <div data-ng-show="params.showColor" data-ng-class="params.showImage ? 'col-xs-6':'col-xs-12'"  class="text-center">
                                <div class="detail-img-container">
                                    <img id="img-1" data-ng-src="{{details.images[0].url}}">
                                </div>
                            </div>
                            <!-- DRAWING -->
                            <div data-ng-show="params.showImage" data-ng-class="params.showColor ? 'col-xs-6':'col-xs-12'" class="text-center">
                                <div class="detail-img-container">
                                    <img id="img-2" data-ng-src="{{details.images[1].url}}">
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <!-- sounds row -->
                    <!-- if no controls are set, audio player will not show -->
                    <div data-ng-if="params.showPhonemSound || params.showWordSound || params.showSentenceSound">
                        <div data-ng-show="params.showPhonemSound" class="row">
                            <div class="col-xs-6">
                                <button class="glyphicon glyphicon-play" data-hm-tap="play1()"></button>
                            </div>
                            <div class="col-xs-6">
                                <span>{{translation.LISTEN_TO_VOWEL}}</span>
                            </div>
                        </div>
                        <hr/>
                        <div data-ng-show="params.showWordSound" class="row">
                            <div class="col-xs-6">
                                <button class="glyphicon glyphicon-play" data-hm-tap="play2()"></button>
                            </div>
                            <div  class="col-xs-6">
                                <span>{{translation.LISTEN_TO_WORD}}</span>
                            </div>
                        </div>
                        <hr/>
                        <div data-ng-show="params.showSentenceSound" class="row">
                            <div class="col-xs-6">
                                <button class="glyphicon glyphicon-play" data-hm-tap="play3()"></button>
                            </div>
                            <div class="col-xs-6">
                                <span>{{translation.LISTEN_TO_SENTENCE}}</span>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <!-- texts row -->
                    <div data-ng-if="params.showPhonem || params.showWord || params.showSentence">
                        <div class="row">
                            <div class="col-xs-12">
                                <div data-ng-show="params.showWord">
                                    <h5>{{translation.WORD}}: {{details.texts[0].text}}</h5>
                                </div>
                                <div data-ng-show="params.showPhonem">
                                    <h5>{{translation.PHONEM}}: /<span data-ng-bind-html="details.texts[1].text"></span>/</h5>
                                </div>
                                <div data-ng-show="params.showSentence">
                                    <h5>{{translation.SENTENCE}}: {{details.texts[2].text}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-if="!tableId || !langId">
    <h3>{{translation.WRONG_URL_PARAMS}}</h3>
</div>