
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-ng-click="reloadData()" href="#/{{langId}}/{{tableId}}/table" data-tooltip="Accueil" data-tooltip-placement="bottom">Kinephones</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <!-- CHOOSE LANGUAGE & TABLE -->
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <label class="sr-only" for="Langue">Langue</label>                                    
                    <select class="form-control" data-ng-model="selectedLanguage" data-ng-change="onLanguageChange()">
                        <option ng-repeat="language in languages" value="{{language.language_code_iso}}" >{{language.language_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="Table">Table</label>                                    
                    <select class="form-control" data-ng-model="selectedTable" data-ng-options="table as table.table_name for table in tables track by table.table_id" data-ng-change="onTableChange()">
                    </select>
                </div>
                <button type="button" data-ng-click="reloadData()" data-tooltip="Charger" data-tooltip-placement="bottom" class="btn btn-default fa fa-refresh"></button>
            </form>
            <!-- SET GENDER -->
            <div class="navbar-form navbar-left play-mode-buttons btn-group">
                <button class="btn btn-default" data-ng-class="{'active': gender === 'male' }" data-tooltip="Voix masculines" data-tooltip-placement="bottom" data-ng-model="gender" data-hm-tap="genderChanged('male')">
                    <i class="fa fa-male"></i>
                </button>
                <button class="btn btn-default" data-ng-class="{'active': gender === 'female' }" data-tooltip="Voix féminines" data-tooltip-placement="bottom" data-ng-model="gender" data-hm-tap="genderChanged('female')">
                    <i class="fa fa-female"></i>
                </button>
            </div>
            <!-- SET SILENT WAY OR NOT -->
            <div class="navbar-form navbar-left">
                <label class="control-label fa fa-hand-o-up"> :</label>
                <div class="play-mode-buttons btn-group">                    
                    <button class="btn btn-default" data-ng-class="{'active' : !isSilentWay}" data-tooltip="clic-court = audio ; clic-long = infos" data-tooltip-placement="bottom"  data-ng-model="isSilentWay" data-hm-tap="eventModeChange()">
                        <i class="fa fa-volume-up"></i>
                    </button>
                    <button class="btn btn-default" data-ng-class="{'active' : isSilentWay}" data-tooltip="clic-court = infos ; clic-long = audio" data-tooltip-placement="bottom" data-ng-model="isSilentWay" data-hm-tap="eventModeChange()">
                        <i class="fa fa-list-alt"></i>
                    </button>
                </div>
            </div>
            <!-- TABLE PARAMs ICON (only if authenticated) -->
            <div class="navbar-form navbar-left" data-ng-show="isAuthenticated"> 
                <button class="btn btn-default" data-ng-click="goToParams()" data-tooltip="Paramètres" data-tooltip-placement="bottom">
                    <i class="fa fa-gear"></i>
                </button>
            </div>
            <!-- LOGIN FORM -->
            <form class="navbar-form navbar-left" name="authentication" data-ng-show="!isAuthenticated">
                <div class="form-group">
                    <label class="sr-only" for="Identifiant">Identifiant</label>
                    <input type="text" class="form-control" placeholder="Identifiant" data-ng-model="login">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="Pass">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="Mot de passe" data-ng-model="pass">
                </div>
                <button type="button" data-ng-click="signIn()" data-tooltip="Se connecter" data-tooltip-placement="bottom" class="btn btn-default fa fa-sign-in"></button>
            </form>
            <div class="navbar-form navbar-left" ng-show="isAuthenticated">
                <span>Bienvenue {{login}} </span>
                <button type="button" class="btn btn-default" data-ng-click="signOut()" data-tooltip="Se deconnecter" data-tooltip-placement="right">
                    <i class="fa fa-sign-out"></i> 
                </button>
            </div>
        </div>
    </div>
</nav>

