
    <!-- User messages -->
    <div class="row">
        <div ng-show="success" class="col-md-12">
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                <strong>Les paramètres ont bien été sauvegardés.</strong>
            </div>
        </div>
        <div ng-show="error" class="col-md-12">
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                <strong>Une erreur s'est produite lors de la mise à jour des paramètres.</strong>
            </div>
        </div>
    </div>
    <!-- Params table -->
    <div class="row">
        <div class="col-md-12">
            <table class="table">            
                <tbody>
                    <tr data-ng-show="langId != 3">
                        <td>Montrer les dessins</td>
                        <td><toggle-switch model="params.showImage" on-label="Oui" off-label="Non"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>Montrer les couleurs</td>
                        <td><toggle-switch model="params.showColor" on-label="Oui" off-label="Non"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>Montrer le texte du phonème</td>
                        <td><toggle-switch model="params.showPhonem" on-label="Oui" off-label="Non" off-value="false"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>Montrer le texte du mot</td>
                        <td><toggle-switch model="params.showWord" on-label="Oui" off-label="Non" off-value="false"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>Montrer le texte de la phrase</td>
                        <td><toggle-switch model="params.showSentence" on-label="Oui" off-label="Non" off-value="false"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>Montrer le son du phonème</td>
                        <td><toggle-switch model="params.showPhonemSound" on-label="Oui" off-label="Non"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>Montrer le son du mot</td>
                        <td><toggle-switch model="params.showWordSound" on-label="Oui" off-label="Non"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td>Montrer le son de la phrase</td>
                        <td><toggle-switch model="params.showSentenceSound" on-label="Oui" off-label="Non"><toggle-switch></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-default" ng-click="update(params)">Sauvegarder les paramètres</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
